<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Inlcude Tailwind CSS -->
     <link rel="stylesheet" href="../dist/output.css">
     <!-- Include local Javascript file -->
     <script src="admin.js"></script>
     <!-- Title icon -->
     <link rel="icon" type="image/x-icon" href="../images/favicon.png">
     <!-- END -->
     <title>Document</title>
</head>
<!-- Body -->

<body>
     <div class="basis-1/6 bg-gray-800 h-screen text-white text-center">
          <div class="bg-white/30 p-3">
               <img src="../img/emma.png" alt="admin picture" class="h-56">
          </div>
          <div class="bg-green-500 m-3 p-3 rounded-lg">
               <a href="#">Dashboard</a>
          </div>
          <div class="bg-gray-500 m-3 p-3 rounded-lg">
               <a href="#">Menu</a>
          </div>
          <div class="bg-gray-500 m-3 p-3 rounded-lg">
               <a href="#">Menu</a>
          </div>
          <div class="bg-red-500 m-3 p-3 mt-12 rounded-lg">
               <a href="#"> Logout</a>
          </div>
     </div>
</body>

</html>