* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: auto;
}

.cell div {
  height: 130px;
  border-radius: 4px;
}

.cell {
  position: relative;
  cursor: pointer;
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  transform: rotateY(90deg);
}

.back {
}

img {
  height: 100px;
  width: 100px;
}

.flip {
  transform: rotateY(0deg);
}

.match {
  transform: rotateY(0deg);
}

.show {
  transform: rotateY(0deg);
}

@media screen and (min-width: 770px) {
  .head {
    max-width: 760px;
  }

  .container {
    grid-template-columns: repeat(4, auto);
  }

  .cell div {
    height: 170px;
  }
}