<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inlcude Tailwind CSS -->
    <link rel="stylesheet" href="../../dist/output.css">
    <!-- Include JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include local Javascript file -->
    <script src="home.js"></script>
    <!-- Title icon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <!-- END -->
    <title>Games</title>
</head>
<!-- Body -->

<body class="bg-fixed" style="background-image: url(../img/gamebg3.jpg)">
    <!-- Navbar -->
    <%- include('universal/navbar') %>
        <!-- Razia -->
        <div class="grid grid-flow-col text-center text-xl rounded-lg">
            <div class="flex flex-col bg-white/50 m-5 rounded-lg">
                <img class="h-full rounded-lg" src="../imgSec/memoryGame.jpg" alt="not found!" />
                <h1 class="m-5">Memory Game</h1>
            </div>
            <div class="flex flex-col bg-white/50 m-5 rounded-lg">
                <img class="h-full rounded-lg" src="../imgSec/lettertracing.png" alt="not found!" />
                <a href="/games/letter" class="m-5">Letter Tracing</a>
            </div>
        </div>
        <!-- END -->
</body>

</html>