<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inlcude Tailwind CSS -->
    <link rel="stylesheet" href="../../dist/output.css">
    <!-- Include JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include local Javascript file -->
    <script src="home.js"></script>
    <!-- Title icon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <!-- END -->
    <title>Planet</title>
</head>

<body class="bg-fixed" style="background-image: url(./pic/bg2.jpg)">
    <!-- Header -->
    <div class="bg-white/30 m-5 p-5 flex justify-between">
        <p class="text-5xl text-center text-white">Welcome to PLANET system</p>
        <button class="bg-red-500 rounded-full p-5 text-white">
            <a href="/home/lesson">Go Home</a>
        </button>
    </div>
    <!-- Planets -->
    <div>
        <!-- Sun  -->
        <button class="flex m-5 p-5" onclick="sun()">
            <div class="w-full h-full m-2 p-2">
                <img class="w-[500px] m-2 p-2" src="pic/sun.png" alt="earth">
            </div>
            <div id="sun" class="saad hidden m-2 p-2">
                <p class="text-5xl text-white">The Sun</p>
                <p class="text-xl text-yellow-500">The Sun is a 4.5 billion-year-old yellow dwarf star – a hot glowing
                    ball of hydrogen and helium – at the center of our solar system. It’s about 93 million miles (150
                    million kilometers) from Earth and it’s our solar system’s only star. Without the Sun’s energy, life
                    as we know it could not exist on our home planet.The Sun is the largest object in our solar system.
                    The Sun’s volume would need 1.3 million Earths to fill it. Its gravity holds the solar system
                    together, keeping everything from the biggest planets to the smallest bits of debris in orbit around
                    it. The hottest part of the Sun is its core, where temperatures top 27 million degrees Fahrenheit
                    (15 million degrees Celsius). The Sun’s activity, from its powerful eruptions to the steady stream
                    of charged particles it sends out, influences the nature of space throughout the solar system.</p>
            </div>
        </button>
        <!-- Earth -->
        <button class="flex m-5 p-5" onclick="earth()">
            <div class="w-full h-full m-2 p-2">
                <img class="w-[500px] m-2 p-2" src="pic/earth.png" alt="earth">
            </div>
            <div id="earth" class="saad hidden m-2 p-2">
                <p class="text-5xl text-white">The Earth</p>
                <p class="text-xl text-yellow-500"> Earth is only the fifth largest planet in the solar system, it is
                    theonly world in our solar system with liquid water on the surface.The name Earth is at least 1,000
                    years old. All of the planets, except for Earth, were named after Greek and Roman gods and
                    goddesses. However, the name Earth is a Germanic word, which simply means “the ground.The Earth
                    takes 365.25 days to go around the sun, along its elliptical orbit. In space, its orbit is located
                    after Venus and before Mars. It has a satellite called ‘moon’.It has an atmosphere that contains
                    Nitrogen and Oxygen in the majority.”The earth is spherical in shape with three concentric layers;
                    the Core, Mantle and Crust.Its current atmosphere has 78% nitrogen and 20% oxygen</p>
            </div>
        </button>
        <!-- venus -->
        <!-- <button class="flex m-5 p-5" onclick="venus()">
            <div class="w-full h-full m-2 p-2">
                <img class="w-[500px] m-2 p-2" src="pic/venus.png" alt="venus">
            </div>
            <div id="venus" class="saad hidden m-2 p-2">
                <p class="text-5xl text-white">The Venus</p>
                <p class="text-xl text-yellow-500">Venus is the second planet from the Sun and is Earth’s closest
                    planetary neighbor. It’s one of the four inner, terrestrial (or rocky) planets, and it’s often
                    called Earth’s twin because it’s similar in size and density. These are not identical twins, however
                    – there are radical differences between the two worlds.The Latest
                    Venus' ‘Squishy' Outer Shell May Be Resurfacing the Planet Venus Resources
                    Venus has a thick, toxic atmosphere filled with carbon dioxide and it’s perpetually shrouded in
                    thick, yellowish clouds of sulfuric acid that trap heat, causing a runaway greenhouse effect. It’s
                    the hottest planet in our solar system, even though Mercury is closer to the Sun. Surface
                    temperatures on Venus are about 900 degrees Fahrenheit (475 degrees Celsius) – hot enough to melt
                    lead. The surface is a rusty color and it’s peppered with intensely crunched mountains and thousands
                    of large volcanoes. Scientists think it’s possible some volcanoes are still active. Venus has
                    crushing air pressure at its surface – more than 90 times that of Earth – similar to the
                    pressure you'd encounter a mile below the ocean on Earth.</p>
            </div>
        </button> -->
        <!-- jupiter -->
        <!-- <button class="flex m-5 p-5" onclick="jupiter()">
            <div class="w-full h-full m-2 p-2">
                <img class="w-[500px] m-2 p-2" src="pic/jupiter.png" alt="jupiter">
            </div>
            <div id="jupiter" class="saad hidden m-2 p-2">
                <p class="text-5xl text-white">The Jupiter</p>
                <p class="text-xl text-yellow-500">Jupiter has a long history of surprising scientists – all the way
                    back
                    to 1610 when Galileo Galilei found the first moons beyond Earth. That discovery changed the way we
                    see the universe.The Latest
                    40-Year Study Finds Mysterious Patterns in Temperatures at Jupiter
                    Jupiter Resources
                    Fifth in line from the Sun, Jupiter is, by far, the largest planet in the solar system – more than
                    twice as massive as all the other planets combined.Jupiter's familiar stripes and swirls are
                    actually cold, windy clouds of ammonia and water, floating
                    in an atmosphere of hydrogen and helium. Jupiter’s iconic Great Red Spot is a giant storm bigger
                    than Earth that has raged for hundreds of years.</p>
            </div>
        </button> -->
    </div>
    <!-- Javascript -->
    <script>
        function earth() {
            var x = document.getElementById("earth");
            inner(x);
        }
        function sun() {
            var x = document.getElementById("sun");
            inner(x);
        }
        function venus() {
            var x = document.getElementById("venus");
            inner(x);
        }
        function jupiter() {
            var x = document.getElementById("jupiter");
            inner(x);
        }
        function inner(x) {
            x.classList.remove('hidden');
        }
    </script>

</body>

</html>